html {
  overflow: hidden;
  font-size: 14.4px;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

html,
body {
  display: block;
  padding: 0;
  margin: 0;
  background-color: inherit !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
