.hint {
  max-width: 700px;
  margin: 5rem auto;
  box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
  background-color: #f8ffff;
  font-size: 1em;
  color: #276f86;
  position: relative;
  min-height: 1em;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
}

.hint > ul {
  text-align: left;
}
